@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Oxanium:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

.logo-bar {
  background-color: rgb(34, 34, 34);
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.logo-bar img {
  z-index: 5;
  width: 500px;
  animation: logoFadeIn 1.2s linear;
}

.logo-bar-social-icons {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo-bar-social-icons i {
  color: #ffffff;
  font-size: 26px;
  margin: 0 8px;
  transition: transform 0.5s;
}

.logo-bar-social-icons i:hover {
  color: rgb(228, 228, 228);
  transform: translateY(-5px);
}

@keyframes logoFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Navbar Styles */
.navbar {
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  text-transform: uppercase;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
}

.navbar ul li:hover > ul {
  display: block;
  text-transform: none;
}

/* Dropdown Menu */
.navbar ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  min-width: 150px;
  z-index: 999;
}

.navbar ul li ul li a {
  padding: 0.5rem 1rem;
}

.navbar ul li ul li a:hover {
  background-color: #555;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 6px;
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(1) {
  transform: translateY(6px) rotate(45deg) translateX(0px);
  transition: transform 0.3s;
  background-color: #fff;
}

.hamburger.active div:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  transition: transform 0.3s;
  background-color: #fff;
}

/* Header Styles */
#header-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-background {
  flex: 1;
  background-image: url("images/header-new-darker-compressed.png");
  background-color: rgb(34, 34, 34);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Featured Item */
.featured-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-description {
  color: #fff;
  flex-basis: 50%;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  padding: 4rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.featured-h2 {
  font-size: 4rem;
}

.featured-description a {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
  padding: 1rem;
  width: 300px;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.featured-description a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid #fff;
}

.featured-image {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.featured-image img {
  width: 60%;
}

/* Merch Styles */
#merch-section {
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

#merch-section h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.merch-card-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  width: 100%;
}

.merch-card {
  flex-basis: 33%;
  background-color: rgb(230, 230, 230);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-size: 1.9rem;
}

.merch-card button {
  padding: 0.5rem;
  width: 80%;
  border: none;
  background-color: #444;
  color: #fff;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

.merch-card button i {
  margin-left: 10px;
  font-size: 1rem;
}

.merch-card p {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

.merch-card img {
  width: 100%;
  border: none;
}

/* Overview Styles */
#overview-section {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#overview-section h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.overview-card-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  width: 100%;
}

.overview-card {
  flex-basis: 33%;
  background-color: rgb(230, 230, 230);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.overview-icon {
  width: 100px !important;
}

.overview-card p {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

.overview-card img {
  width: 100%;
  border: none;
}

/* About Style */
#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}
#about-section h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  flex-basis: 50%;
  height: 100%;
  padding: 0 2rem;
}

.about-container img {
  width: 100%;
}

.about-container.right {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.8rem;
}

.about-text-container {
  width: 100%;
  flex: 1;
  padding: 2rem;
  background-color: rgb(230, 230, 230);
}

.about-text-container h4 {
  font-weight: 900;
}

.read-more {
  display: block;
  text-align: right;
  margin-right: auto;
  text-decoration: none;
  color: #000;
}

.read-more i {
  font-size: 1rem;
}

/* Stories Styles */
#stories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

#stories-section h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.stories-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stories-container {
  flex-basis: 50%;
  height: 100%;
  padding: 0 2rem;
}

.stories-container img {
  width: 100%;
}

.stories-container.left {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.8rem;
}

.stories-text-container {
  width: 100;
  flex: 1;
  padding: 2rem;
  background-color: rgb(230, 230, 230);
}

/* Slogan Styles */
#slogan-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem 2rem 0 2rem;
}

.slogan-logo {
  width: 50%;
}

.slogan-text-container {
  font-size: 2rem;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

.slogan-pic-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.slogan-pic-container img {
  display: flex;
  width: 33%;
}

/* Workshop Styles */
#workshop-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

#workshop-section h2 {
  font-size: 3.5rem;
  text-align: center;
  margin: 40px 0;
}

.workshop-card-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.workshop-card {
  flex-basis: 33%;
  padding: 2rem;
  background-color: rgb(230, 230, 230);
}

.workshop-card img {
  width: 100%;
}

.workshop-card p {
  text-align: center;
  font-size: 2rem;
  margin: 10px 0;
}

/* Video Section */
video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

#video-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-image: url("images/video-new.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.play-video-btn {
  border: 1px solid white;
  padding: 1rem;
  font-size: 3rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  width: 300px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.play-video-btn:hover {
  border: 1px solid #000;
  padding: 1rem;
  font-size: 3rem;
  color: #000;
  background-color: rgb(230, 230, 230);
}

/* .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  z-index: 1;
} */

/* FAQ Styles */
#faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  padding: 2rem;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

#faq-section h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.faq-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
}

.faq-container {
  flex-basis: 50%;
  flex: 1;
  padding: 0 2rem;
}

.faq-container img {
  width: 100%;
}

.faq-container.right {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.8rem;
}

.faq-text-container {
  width: 100%;
  flex: 1;
  padding: 2rem;
  background-color: rgb(230, 230, 230);
}

.faq-text-container h4 {
  font-weight: 900;
}

.faq-text {
  font-size: 1.5rem;
}

/* Shipping Styles */
#shipping-section {
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#shipping-section h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.shipping-container {
  width: 95%;
  padding: 4rem;
  background-color: rgb(230, 230, 230);
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.shipping-pic {
  position: absolute;
  bottom: -60px;
  right: -70px;
  height: 80%;
}

.disclaimer {
  font-size: 1rem;
  width: 80%;
}

.how-to-order {
  font-weight: bolder;
  background-color: rgb(255, 121, 121);
  display:block;
  width: 300px;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.how-to-order-instructions {
  width: 80%;
}

/* Social Media Styles */
#social-media-section {
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(230, 230, 230);
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

#social-media-section h2 {
  font-size: 4rem;
}

.social-media-card-container {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.social-media-card-container div {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

/* Footer Styles */

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem;
  background-color: rgb(34, 34, 34);
  color: #fff;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.footer-box {
  flex: 1;
}

.footer-box.left,
.footer-box.right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.footer-box.right a {
  color: #000;
  text-decoration: none;
  transition: ease-in-out 0.3s;
  background-color: rgb(230, 230, 230);
  width: 70%;
  padding: 1rem;
  text-align: center;
  transition: background-color 0.3 ease-in-out;
}

.footer-box.right a:hover {
  cursor: pointer !important;
  color: #fff;
  background-color: #555;
}

.footer-logo {
  width: 50%;
}

.copyright {
  font-size: 0.7rem;
}

.map {
  width: 100%;
}

.menu-social-icons {
  width: 100%;
  display: none;
  font-size: 26px;
}

.menu-social-icons i {
  color: #ffffff;
  font-size: 26px;
  margin: 12px 8px;
}

.studio {
  margin-bottom: 8px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* Nav Bar Mobile Styles */
  .logo-bar {
    background-color: rgb(34, 34, 34);
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-bar img {
    width: 250px;
  }

  .logo-bar-social-icons {
    display: none;
  }

  .navbar {
    background-color: transparent;
    padding: 0;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
  }

  .navbar ul.show {
    display: flex;
    z-index: 55;
  }

  .hamburger {
    display: flex;
  }

  .navbar ul li ul {
    position: static;
  }

  .navbar ul li:hover > ul {
    display: none;
  }

  .navbar ul li.active > ul {
    display: block;
  }

  /* Header Mobile Styles */
  #header-section {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-background {
    background-attachment: scroll;
  }

  .overlay-logo {
    display: none;
  }

  .cloud {
    width: 200%;
  }

  .cloud img {
    height: 500px;
    width: 1000px;
  }

  /* Featured Item Mobile Styles */
  .featured-item {
    flex-direction: column-reverse;
  }

  .featured-image {
    padding-top: 3rem;
  }

  .featured-h2 {
    font-size: 3rem;
    text-align: center;
  }

  .featured-description {
    font-size: 1.5rem;
    padding: 1rem;
    align-items: center;
  }

  .featured-description a {
    font-size: 1.5rem;
  }

  /* Social Media Mobile Styles */

  #social-media-section {
    background-attachment: scroll;
    height: 100%;
    padding: 2rem 1rem;
  }

  #social-media-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .social-media-card-container {
    width: 100%;
    flex-wrap: wrap;
  }

  .social-media-card-container div {
    flex-basis: 100%;
  }

  /* Merch Mobile Styles */

  #merch-section {
    height: 100%;
    padding: 1rem;
  }

  .merch-card-container {
    flex-wrap: wrap;
  }

  .merch-card {
    flex-basis: 100%;
  }

  .merch-title {
    width: 70%;
  }

  /* Stories Mobile Styles */
  #stories-section {
    padding: 0rem;
  }

  .stories-wrapper {
    height: 100%;
  }

  .stories-top-container p {
    text-align: left;
  }

  .stories-bottom-container {
    display: none;
  }

  .stories-bottom-container img {
    display: none;
    /* margin-bottom: 2rem; */
  }

  .stories-mobile-only {
    display: block;
    width: 100%;
    margin-top: 2rem;
  }

  /* Workshop Mobile Styles */

  #workshop-section {
    height: 100%;
    padding: 1rem;
  }

  #workshop-section h2 {
    margin-top: 4rem;
  }

  .workshop-card-container {
    flex-wrap: wrap;
  }

  .workshop-card {
    flex-basis: 100%;
    padding: 2rem;
  }

  /* About Mobile Styles */

  #about-section {
    padding: 2rem 0;
    height: 100%;
  }

  #about-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .about-wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .about-container {
    flex-basis: 100%;
    padding: 1rem;
  }

  .about-text-container {
    font-size: 1.4rem;
  }

  .faq-text {
    font-size: 1.4rem;
    margin-top: 20px;
  }

  /* Stories Mobile Styles */

  #stories-section {
    height: 100%;
  }

  #stories-section h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .stories-wrapper {
    flex-direction: column;
  }

  .stories-container {
    flex-basis: 100%;
    padding: 1rem;
  }

  .stories-text-container {
    font-size: 1.4rem;
  }

  /* Overview Mobile Styles */

  #overview-section {
    height: 100%;
    padding: 1rem;
  }

  .overview-card-container {
    flex-direction: column;
    width: 100%;
  }

  /* Slogan Section */

  #slogan-section {
    padding: 1rem;
    gap: 2px;
  }

  .slogan-logo {
    width: 100%;
    margin: 30px 0;
  }

  .slogan-text-container {
    font-size: 1.3rem;
    margin-bottom: 30px;
  }

  .slogan-pic-container {
    gap: 2px;
  }

  /* faq Mobile Styles */

  #faq-section {
    padding: 2rem 0;
    height: 100%;
  }

  #faq-section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .faq-wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .faq-container {
    flex-basis: 100%;
    padding: 1rem;
  }

  .faq-text-container {
    font-size: 1.4rem;
  }

  /* Video Section */

  #video-section {
    background-image: url("images/video-new-mobile.png");
  }

  /* Shipping Mobile Styles */
  #shipping-section {
    height: 100%;
    padding: 2rem 1rem;
  }

  #shipping-section h2 {
    font-size: 3rem;
    text-align: center;
  }

  .shipping-pic {
    display: none;
  }

  .shipping-container {
    width: 100%;
    font-size: 1.3rem;
    padding: 1.8rem;
  }

  .shipping-container li {
    margin-bottom: 20px;
  }

  .disclaimer,
  .how-to-order-instructions {
    width: 100%;
  }

  /* Footer Mobile Styles */
  .footer-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .footer-box.left {
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }

  .map iframe {
    width: 100%;
  }

  .menu-social-icons {
    display: flex;
    justify-content: center;
  }

  .footer-box.right {
    display: none;
  }

  .studio {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  .copyright {
    margin-top: 10px;
  }
}
